.headerWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    grid-area: h;
    background-color: rgb(74, 118, 167);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    width: 60px;
}

.loginBlock {
    margin-right: 20px;
    color: white;
    font-size: 20px;
}

.login {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 3px;
    border-radius: 7px;
}

.loginBlock:hover {
    transform: scale(.9);
}

.login:hover {
    color: gold;
    border-color: gold;
}